@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

<button data-toggle="modal" data-target="#addRoleModal" class="btn btn-primary mb-3" style="width:auto">Add new role</button>

@if (Model.Any())
{
    <div id="list-roles-table">
        @Html.Partial("_ListRolesTable", Model)
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button Add new role to create a new one
            </h5>
        </div>
    </div>
}

@Html.Partial("_addRoleModal", new CreateRoleViewModel())


@section Scripts {
    <script src="~/js/Administration/ListRoles.js"></script>
}